@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Charlie Hugs it Out</h1>
    <p class="lead">
        Exams can be stressful events.  Wouldn't it be nice if partway through a programming
        test you could take a quick break to hug a buddy and release some endorphins?
    </p>

</div>
<div class="img-responsive text-center">
    <img src="~/Content/Images/lets-hug-it-out.jpg" alt="Let's Hug It Out" />
</div>

